{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- SECTION HERO-->
<div class="container">
  <!-- <section class="hero pb-3 bg-cover bg-center d-flex align-items-center" style="background: url({% static 'img/hero-jewlrey-banner.jpg' %}); animation: fadeIn 2s ease-in-out;">
    <div class="container py-5">
      <div class="row px-4 px-lg-5">
        <div class="col-lg-6" style="animation: slideInLeft 1.5s;">
          <p class="text-muted small text-uppercase mb-2">Nouvelle Inspiration 2024</p>
          <h1 class="h2 text-uppercase mb-3">20% de réduction sur la nouvelle collection</h1>
          <a class="btn btn-dark" href="{% url 'store:all-categories' %}" style="transition: all 0.3s ease; box-shadow: 0px 4px 10px rgba(0,0,0,0.2);">Parcourir les collections</a>
        </div>
      </div>
    </div>
  </section>  -->
  
  

<div class="container-fluid p-0">
  <section class="hero position-relative" style="min-height: 6vh;background-color: #191919;">
    <!-- Logo en haut à gauche -->
    <div class="position-absolute top-0 start-0 m-4">
      <img src="{% static 'img/jd-cosmetics-logo-2.png' %}" alt="JD Cosmetics Logo" style="height: 50px;">
    </div>
    <br>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <!-- Texte à gauche -->
        <div class="col-lg-6 d-flex flex-column justify-content-center text-white p-5" style="animation: fadeIn 2s ease-in-out;">
          <h1 class="display-1 fw-bold mb-3" style="font-size: 3rem;">Bienvenue sur <br>JD Cosmetics</h1>
          <br/>
          <div class="cursive-text">Live beautifully</div>
        </div>
        
        <!-- Image à droite -->
        <div class="col-lg-6 p-0" style="animation: fadeIn 2s ease-in-out;">
          <div class="h-10 position-relative">
            <img id="egerie_im" src="{% static 'img/egerie_mod.png' %}" style="transform:translateY(-100)" alt="Modèle JD Cosmetics" class="w-100 h-100 object-fit-cover">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


  <!-- SECTION CATÉGORIES-->
  <section class="pt-5">
    <header class="text-center" style="animation: fadeInUp 2s;">
      <p class="small text-muted small text-uppercase mb-1">Collections soigneusement créées</p>
      <h2 class="h5 text-uppercase mb-4">Découvrez nos catégories</h2>
    </header>
    <div class="row">
      {% if categories %}
        {% for category in categories %}
          <div class="col-md-4 mb-4 mb-md-0" style="transition: transform 0.5s; cursor: pointer;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
            <a class="category-item" href="{% url 'store:category-products' category.slug %}">
              {% if category.category_image %}
                <img class="img-fluid" src="{{ category.category_image.url }}" alt="{{ category.title }}">
              {% else %}
                <img class="img-fluid" src="{% static 'img/cat-img-1.jpg' %}" alt="{{ category.title }}">
              {% endif %}
              <strong class="category-item-title">{{ category.title }}</strong>
            </a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </section>

  <!-- PRODUITS TENDANCE-->
  <section class="py-5">
    <header style="animation: bounceIn 1.5s;text-align:center;">
      <p class="small text-muted small text-uppercase mb-1 ">Fabriqué avec soin</p>
      <h2 class="h5 text-uppercase mb-4">Produits tendance</h2>
    </header>
    <div class="row">
      {% if products %}
        {% for product in products %}
          <!-- PRODUIT-->
          <div class="col-xl-3 col-lg-4 col-sm-6" style="transition: transform 0.5s;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
            <div class="product text-center" style="animation: fadeInUp 1.5s;">
              <div class="position-relative mb-3">
                <a class="d-block" href="{% url 'store:product-detail' product.slug %}">
                  {% if product.product_image %}
                    <img class="img-fluid w-100" src="{{ product.product_image.url }}" alt="{{ product.title }}">
                  {% else %}
                    <img class="img-fluid w-100" src="{% static 'img/product-1.jpg' %}" alt="{{ product.title }}">
                  {% endif %}
                </a>
                <div class="product-overlay">
                  <ul class="mb-0 list-inline">
                    <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a></li>
                    <li class="list-inline-item m-0 p-0">
                      <form action="{% url 'store:add-to-cart' %}">
                        <input type="hidden" name="prod_id" value="{{ product.id }}" id="product_id">
                        <button type="submit" class="btn btn-sm btn-dark" style="transition: all 0.3s ease; box-shadow: 0px 4px 10px rgba(0,0,0,0.2);">Ajouter au panier</button>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
              <h6> <a class="reset-anchor" href="detail.html">{{ product.title }}</a></h6>
              <p class="small text-muted">{{ product.price }} FCFA</p>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </section>

  <!-- SERVICES-->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-4 mb-3 mb-lg-0" style="animation: zoomIn 1s;">
          <div class="d-inline-block">
            <div class="media align-items-end">
              <svg class="svg-icon svg-icon-big svg-icon-light">
                <use xlink:href="#delivery-time-1"> </use>
              </svg>
              <div class="media-body text-left ml-3">
                <h6 class="text-uppercase mb-1">Livraison gratuite</h6>
                <p class="text-small mb-0 text-muted">Livraison gratuite partout dans le monde</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3 mb-lg-0" style="animation: zoomIn 1s;">
          <div class="d-inline-block">
            <div class="media align-items-end">
              <svg class="svg-icon svg-icon-big svg-icon-light">
                <use xlink:href="#helpline-24h-1"> </use>
              </svg>
              <div class="media-body text-left ml-3">
                <h6 class="text-uppercase mb-1">Service 24h/24</h6>
                <p class="text-small mb-0 text-muted">Disponible 24h/24 et 7j/7</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4" style="animation: zoomIn 1s;">
          <div class="d-inline-block">
            <div class="media align-items-end">
              <svg class="svg-icon svg-icon-big svg-icon-light">
                <use xlink:href="#label-tag-1"> </use>
              </svg>
              <div class="media-body text-left ml-3">
                <h6 class="text-uppercase mb-1">Offre de festival</h6>
                <p class="text-small mb-0 text-muted">Profitez des réductions spéciales</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- NEWSLETTER-->
  <section class="py-5">
    <div class="container p-0">
      <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0" style="animation: fadeInLeft 1.5s;">
          <h5 class="text-uppercase">Restons connectés !</h5>
          <p class="text-small text-muted mb-0">Recevez nos dernières nouvelles et offres exclusives.</p>
        </div>
        <div class="col-lg-6">
          <form action="#">
            <div class="input-group flex-column flex-sm-row mb-3" style="animation: fadeInRight 1.5s;">
              <input class="form-control form-control-lg py-3" type="email" placeholder="Entrez votre adresse email" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-dark btn-block" id="button-addon2" type="submit">S'abonner</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}

<style>

.tracking-widest {
  letter-spacing: 0.5em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Pour assurer que l'image couvre bien l'espace */
.object-fit-cover {
  object-fit: cover;
}

/* Déclaration de la police Berdiola */
@font-face {
  font-family: 'Berdiola';
  src: url('{% static "fonts/berdiola.otf" %}') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Classe utilisant la police Berdiola */
.cursive-text {
  font-family: 'Berdiola', sans-serif;
  font-size: 3rem;
}

.tracking-widest {
  letter-spacing: 0.5em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.object-fit-cover {
  object-fit: cover;
}
</style>